:root {
	--primary-light: rgb(209, 238, 255);
	--secondary-light: rgb(50, 78, 104);
	--neutral: rgb(119, 134, 168);
	--error: rgba(212, 8, 8, 0.849);
	--font-titles: Prompt, cursive;
	--font-main: Prompt, sans-serif;
}

main {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

body {
	margin: 1rem;
	padding: 1rem;
	font-family: var(--font-main);
}

h1 {
	font-family: var(--font-titles);
}

p {
	display: flex;
	margin: 0;
	margin-bottom: 1rem;
	justify-content: center;
	gap: 1rem;
	max-width: 100%;
	white-space: normal;
	overflow-wrap: break-word;
	text-overflow: ellipsis;
	display: block;
	width: 100%;
}

.message {
	justify-content: flex-start;
}

button {
	padding: 0.2rem;
	box-shadow: 1px 1px 1px var(--secondary-dark);
	width: fit-content;
	cursor: pointer;
	font-family: var(--font-main);
}

.right-button {
	align-self: flex-end;
}

.marginTop-button {
	margin-top: 1rem;
}

.buttonsGroup {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-between;
}

input,
textarea {
	border: 1px solid var(--secondary-light);
	border-radius: 4px;
	max-width: 100%;
	width: 100%;
	box-sizing: border-box;
}

textarea.medium {
	min-height: 6rem;
}

textarea.tall {
	min-height: 8rem;
}

form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: var(--primary-light);
	border: 0.2rem solid var(--neutral);
	border-style: dashed;
	border-radius: 2px;
	padding: 1rem;
	width: auto;
	max-width: 100%;
}

.buttonForm {
	background: none;
	padding: 0;
	border: none;
}

.nameAndDate {
	font-style: italic;
	justify-content: flex-end;
	font-size: small;
	margin-bottom: 0.3rem;
}

ul {
	list-style: none;
	padding: 0;
}

.singlePost {
	line-height: 2rem;
}

label {
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block; /* Make label inline-block to respect width */
	max-width: 100%;
}

label.topAligned {
	vertical-align: top;
}

.singlePost {
	border: 0.2rem solid var(--neutral);
	background-color: var(--primary-light);
	margin-bottom: 1rem;
	padding: 1rem;
	border-radius: 2px;
	box-shadow: 6px 2px 4px rgba(0, 0, 0, 0.4);
	gap: 0.5rem;
}

.error {
	color: var(--error);
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@media (max-width: 300px) {
	main {
		padding: 1rem;
	}
	h1 {
		font-size: 1.5rem;
	}
	label {
		white-space: normal; /* Allow wrapping on narrow screens */
		text-overflow: clip;
	}
}
